*{padding:0px; margin: 0px;}
div.rodape{
	width:100%;
	height:180px;
	background-color:rgba(0,0,0,0.8);
	float:left;
	padding:0px;
	bottom:0px;
	margin-top:5px;
		
}
div.rodape1{
	width: 250px;
	height: 180px;
	margin: 0px auto;
	float: left;
	margin-top:10px;
	margin-left:20px;

}
div.rodape2{
	width: 250px;
	height: 180px;
	margin: 0px auto;
	float: right;
	margin-top:10px;
	margin-right:20px;
	
}
.fontebranca{
	color:white;
}
.fontbranca{
	color:white;
	text-align:center;
}